@model E_Business.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.USex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.USex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UCash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UCash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UCredit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UCredit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UBail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UBail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UAd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UAd)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
