@model IEnumerable<E_Business.Models.Item>

@{
    ViewBag.Title = "商品搜索";
}

<h2>SearchIndex</h2>

<p>
    @Html.ActionLink("创建新的商品", "Create")
    @using (Html.BeginForm())
    {    
        <p>
            请输入关键字: @Html.TextBox("SearchString")
            <br />
            <input type="submit" value="Filter" />
        </p> 
    }
</p>
<table>
    <tr>
        <th>商品名称
        </th>
        <th>商品图像
        </th>
        <th>商品价格
        </th>
        <th>商品描述
        </th>
        <th>买家评分
        </th>
        <th>商品销量
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.IShopID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISurNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IURecNum)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IDiscribe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IComScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISelNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IShopID)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.IPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISurNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IURecNum)
        </td>*@
            <td>@*@Html.ActionLink("Edit", "Edit", new { id = item.IID }) |*@
            @Html.ActionLink("详细信息", "Details", new { id = item.IID }) |
            @Html.ActionLink("购买商品", "Purchase ", new { id = item.IID })
               @* @Html.ActionLink("Delete", "Delete", new { id = item.IID })*@
            </td>
        </tr>
    }

</table>
