@model E_Business.Models.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Item</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IImage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IImage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IDiscribe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IDiscribe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IComScore)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IComScore)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISelNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISelNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IShopID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IShopID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IPlace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IPlace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISurNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISurNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IURecNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IURecNum)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.IID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
