@model IEnumerable<E_Business.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UCash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UBail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UCash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UBail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UID })
        </td>
    </tr>
}

</table>
