@model IEnumerable<E_Business.Models.Item>

@{
    ViewBag.Title = "ShopCart";
}

<h2>My ShopCart</h2>

<fieldset>
    <legend>ShopCart</legend>
    <tr>
        <td>
            商品照片
        </td>
        <td>
            商品名称
        </td>
        <td>
            商品价格
        </td>
        <td>
            商品所在地
        </td>
    </tr>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IPlace)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IID }) |
        </td>
    </tr>
}
</fieldset>
