@model E_Business.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mailmanner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mailmanner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MailPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MailPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Discout)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discout)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RAddress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RAddress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecPhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecPhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
